@font-face {
    font-family: 'Didot';
    src: url('~assets/fonts/Didot.eot');
    src: url('~assets/fonts/Didot.eot?#iefix') format('embedded-opentype'),
        url('~assets/fonts/Didot.woff2') format('woff2'),
        url('~assets/fonts/Didot.woff') format('woff'),
        url('~assets/fonts/Didot.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'GTWalsheimProRegular';
    src: url('~assets/fonts/GTWalsheimProRegular.eot');
    src: url('~assets/fonts/GTWalsheimProRegular.eot?#iefix') format('embedded-opentype'),
        url('~assets/fonts/GTWalsheimProRegular.woff2') format('woff2'),
        url('~assets/fonts/GTWalsheimProRegular.woff') format('woff'),
        url('~assets/fonts/GTWalsheimProRegular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'GTWalsheimProMedium';
    src: url('~assets/fonts/GTWalsheimProMedium.eot');
    src: url('~assets/fonts/GTWalsheimProMedium.eot?#iefix') format('embedded-opentype'),
        url('~assets/fonts/GTWalsheimProMedium.woff2') format('woff2'),
        url('~assets/fonts/GTWalsheimProMedium.woff') format('woff'),
        url('~assets/fonts/GTWalsheimProMedium.ttf') format('truetype');
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: 'GTWalsheimProBold';
    src: url('~assets/fonts/GTWalsheimProBold.eot');
    src: url('~assets/fonts/GTWalsheimProBold.eot?#iefix') format('embedded-opentype'),
        url('~assets/fonts/GTWalsheimProBold.woff2') format('woff2'),
        url('~assets/fonts/GTWalsheimProBold.woff') format('woff'),
        url('~assets/fonts/GTWalsheimProBold.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'Didot';
    src: url('~assets/fonts/Didot-Bold.eot');
    src: url('~assets/fonts/Didot-Bold.eot?#iefix') format('embedded-opentype'),
        url('~assets/fonts/Didot-Bold.woff2') format('woff2'),
        url('~assets/fonts/Didot-Bold.woff') format('woff'),
        url('~assets/fonts/Didot-Bold.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'Didot';
    src: url('~assets/fonts/Didot-Italic.eot');
    src: url('~assets/fonts/Didot-Italic.eot?#iefix') format('embedded-opentype'),
        url('~assets/fonts/Didot-Italic.woff2') format('woff2'),
        url('~assets/fonts/Didot-Italic.woff') format('woff'),
        url('~assets/fonts/Didot-Italic.ttf') format('truetype');
    font-weight: normal;
    font-style: italic;
}

@font-face {
    font-family: "Futura PT";
    src: url("//db.onlinewebfonts.com/t/e8c6a63541de0a4211a9358cbe74690f.eot");
    src: url('//db.onlinewebfonts.com/t/e8c6a63541de0a4211a9358cbe74690f.eot') format('embedded-opentype'),
        url('//db.onlinewebfonts.com/t/e8c6a63541de0a4211a9358cbe74690f.woff2') format('woff2'),
        url('~assets/fonts/futura-pt.woff') format('woff'),
        url('~assets/fonts/futura-pt.ttf') format('truetype');
    font-weight: normal;
    font-style: italic;
}